.wrapper
  .header
    .header__bar
      .head__bar__title
      .head__bar__hotel
      .head__bar__tour
      .head__bar__username
      .head__bar__logout
  .main
    .main-box
      %hi.content
        人気海外旅行先 <総合ランキンTOP10>
      .rank-box
        .rank-box__1
        .rank-box__2
        .rank-box__3
        .rank-box__4
        .rank-box__5
        .rank-box__6
        .rank-box__7
        .rank-box__8
        .rank-box__9
        .rank-box__10
  .footer
