.header{
  background-color: #E4FF8D;
  position: fixed;
  font-size: 20px;
  height: 60px;
  width: 100%;
  border-bottom: 3px solid gray;

  &__bar{
    display: flex;
    line-height: 60px;
    height: 60px;

    &__title{
      font-family: "Ravi Prakash", cursive;
      font-size: 30px;
      padding-left: 15px;

      .Happytravel{
        text-decoration: none;
        color: black;
        font-weight: bold;
      }
    }

    &__link-hotel{
      margin-left: 50px;
      .hotel{
        text-decoration: none;
        color: black;
        height: 60px;
      }
    }

    &__link-chcket{
      margin-left: 50px;
      .chcket{
        text-decoration: none;
        color: black;
      }
    }

    &__link-tour{
      margin-left: 50px;
      .tour{
        text-decoration: none;
        color: black;
      }
    }

    &__link-username{
      margin-left: 520px;
      .name{
        text-decoration: none;
        color: black;
      }
    }

    &__link-logout{
      margin-left: auto;
      padding-right: 30px;
      .logout{
        text-decoration: none;
        color: black;
      }
    }
  }
}